.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
}

.grid .quadrant {
    box-shadow: 0 0 1px 0 black;
    min-height: 200px;
    min-width: 200px;
}

*[draggable=true] {
    cursor: grab;
}

.editable-text {
    font-size: medium;
    font-weight: bolder;
    line-height: 48px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small-margin-top {
    margin-top: 10px;
}