* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-content: start;
  flex-wrap: wrap;
  width: 420px;
  height: 420px;
  margin: 2em auto 0 auto;
}

.grid .quadrant {
  position: relative;
  box-shadow: 0 0 1px 0 black;
  height: 200px;
  width: 200px;
  padding: 6px;
  overflow: auto;
}

.grid .q0-label, .grid .q2-label-left, .grid .q2-label-bottom, .grid .q3-label {
  position: absolute;
  text-align: center;
  width: 200px;
}

.grid .q0-label {
  top: 90px;
  left: -90px;
  transform: rotate(-90deg);
}

.grid .q2-label-left {
  bottom: 110px;
  left: -90px;
  transform: rotate(-90deg);
}

.grid .q2-label-bottom {
  bottom: 0;
  left: 20px;
}

.grid .q3-label {
  bottom: 0;
  left: 220px;
}

.grid .x-axis-label {
  position: absolute;
  bottom: -20px;
  width: 420px;
  border-top: 1px dashed black;
}

.grid .y-axis-label {
  position: absolute;
  top: 200px;
  left: -220px;
  width: 420px;
  transform: rotate(-90deg);
  border-bottom: 1px dashed black;
}

.quadrant-label-input {
  width: 100%;
  border: none;
  text-align: center;
  height: 20px;
  line-height: 20px;
  font-size: small;
  font-weight: bold;
}

*[draggable=true] {
  cursor: grab;
}

.editable-text {
  font-size: medium;
  font-weight: bolder;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small-margin-top {
  margin-top: 10px;
}

.quadrant-indicator {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  border-radius: 6px;
  background: #0a9cce;
  color: white;
  width: 40px;
  text-align: center;
  font-size: smaller;
  margin-right: 10px;
}

.quadrant-idea {
  max-width: 150px;
  overflow: hidden;
  border: 1px solid grey;
  padding: 2px 5px;
  border-radius: 5px;
  margin-top: 5px;
}

.grid .q2 {
  position: absolute;
  bottom: -10px;
  left: 50%;
}